body {
  margin: 0;
  padding:0;
  overflow: hidden;
}

#game {
  background-image: url('https://svgshare.com/i/Biy.svg');
  border: 1px solid black;
}

.player {
	position: absolute;
  background: red;
  z-index: 500;
}

.ground {
	position: absolute;
	background: black;
}

.dirt {
  position: absolute;
  border-radius: 100%;
  background-image: url("ground.jpg");
  z-index: -1;
}

.pole {
  background-image: linear-gradient(to right, black, grey);
  z-index: 600;
  position: absolute;
}

.box {
	background: green;
  position: absolute;
}

#curtian {
  background: white;
  height: 2000px;
  width: 2000px;
  z-index: 200;
}

