body {
  margin: 0;
  padding:0;
  overflow: hidden;
}

#game {
  border: 1px solid black;
}

.player {
	position: absolute;
  background: url("clownWalk3.png") left center;
  z-index: 500;
  transform: scaleX(-1);
  background-position: 200px;
}

.walking {
  animation: walk 0.8s steps(4, end) infinite;
}

.facing-left {
  transform: scaleX(1);
}

@keyframes walk {
  0% { background-position: -200px; }
  100% { background-position: -1000px; }
}

.box {
  background-image: url("barrel.svg");
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}